body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-xl-500: Inter;

  /* font sizes */
  --body-xl-500-size: 20px;
  --body-medium-400-size: 16px;
  --body-small-400-size: 14px;
  --body-large-500-size: 18px;
  --heading-04-size: 24px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;

  /* Colors */
  --gray-white: #fff;
  --gray-900: #18191c;
  --gray-400: #9199a3;
  --primary-50: #e7f0fa;
  --primary-500: #0a65cc;
  --gray-500: #767f8c;
  --gray-600: #5e6670;
  --success-500: #0ba02c;
  --color-dodgerblue: #308cf2;
  --gray-700: #474c54;
  --gray-50: #f1f2f4;
  --primary-100: #cee0f5;

  /* Gaps */
  --gap-xl: 20px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-3xs: 10px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-10xl: 29px;
  --padding-7xs: 6px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-2xl: 21px;
  --padding-sm: 14px;
  --padding-mini-5: 14.5px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-10xs: 3px;
}
