body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --ios-bg: rgba(249, 249, 249, 0.8);
  --neutral-white: #fff;
  --ios-blue: #007aff;
  --neutral-light: #ebf0ff;
  --neutral-grey: #9098b1;
  --color-gray-100: rgba(0, 0, 0, 0.53);
  --color-black: #000;

  /* Gaps */
  --gap-base: 16px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-mid: 17px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-7xs-5: 5.5px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-8xs: 5px;
}
