<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jobweb</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeControl</display-name>
    <servlet-name>HomeControl</servlet-name>
    <servlet-class>com.home.controller.HomeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControl</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>com.home.controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailControl</display-name>
    <servlet-name>DetailControl</servlet-name>
    <servlet-class>com.home.controller.DetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailControl</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeachControl</display-name>
    <servlet-name>SeachControl</servlet-name>
    <servlet-class>com.home.controller.SeachControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeachControl</servlet-name>
    <url-pattern>/seach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobListControl</display-name>
    <servlet-name>JobListControl</servlet-name>
    <servlet-class>com.home.controller.JobListControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListControl</servlet-name>
    <url-pattern>/JobListControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListjobControl</display-name>
    <servlet-name>ListjobControl</servlet-name>
    <servlet-class>com.home.controller.ListjobControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListjobControl</servlet-name>
    <url-pattern>/listjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterControl</display-name>
    <servlet-name>RegisterControl</servlet-name>
    <servlet-class>com.home.controller.RegisterControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterControl</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControl</display-name>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>com.home.controller.LogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControl</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformControl</display-name>
    <servlet-name>UserInformControl</servlet-name>
    <servlet-class>com.home.controller.UserInformControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformControl</servlet-name>
    <url-pattern>/userinform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformUpdateControl</display-name>
    <servlet-name>UserInformUpdateControl</servlet-name>
    <servlet-class>com.home.controller.UserInformUpdateControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformUpdateControl</servlet-name>
    <url-pattern>/userinfupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerRegControl</display-name>
    <servlet-name>EmployerRegControl</servlet-name>
    <servlet-class>com.home.controller.EmployerRegControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerRegControl</servlet-name>
    <url-pattern>/employerreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerLoginControl</display-name>
    <servlet-name>EmployerLoginControl</servlet-name>
    <servlet-class>com.home.controller.EmployerLoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerLoginControl</servlet-name>
    <url-pattern>/employerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordControl</display-name>
    <servlet-name>ChangePasswordControl</servlet-name>
    <servlet-class>com.home.controller.ChangePasswordControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordControl</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewJobControl</display-name>
    <servlet-name>AddNewJobControl</servlet-name>
    <servlet-class>com.home.controller.AddNewJobControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewJobControl</servlet-name>
    <url-pattern>/addnewjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCrudLoadControl</display-name>
    <servlet-name>UserCrudLoadControl</servlet-name>
    <servlet-class>com.home.controller.UserCrudLoadControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCrudLoadControl</servlet-name>
    <url-pattern>/usercrudload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCrudControl</display-name>
    <servlet-name>UserCrudControl</servlet-name>
    <servlet-class>com.home.controller.UserCrudControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCrudControl</servlet-name>
    <url-pattern>/addnewuser</url-pattern>
    <url-pattern>/edituser</url-pattern>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeControl</display-name>
    <servlet-name>AdminHomeControl</servlet-name>
    <servlet-class>com.home.controller.AdminHomeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeControl</servlet-name>
    <url-pattern>/adminhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginControl</display-name>
    <servlet-name>AdminLoginControl</servlet-name>
    <servlet-class>com.home.controller.AdminLoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginControl</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSVControl</display-name>
    <servlet-name>UploadSVControl</servlet-name>
    <servlet-class>com.home.controller.UploadSVControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSVControl</servlet-name>
    <url-pattern>/uploadcv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCVListControl</display-name>
    <servlet-name>UserCVListControl</servlet-name>
    <servlet-class>com.home.controller.UserCVListControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCVListControl</servlet-name>
    <url-pattern>/usercvdelete</url-pattern>
    <url-pattern>/usercvedit</url-pattern>
    <url-pattern>/usercvload</url-pattern>
    <url-pattern>/usercveditload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerCVListControl</display-name>
    <servlet-name>EmployerCVListControl</servlet-name>
    <servlet-class>com.home.controller.EmployerCVListControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerCVListControl</servlet-name>
    <url-pattern>/empcvload</url-pattern>
    <url-pattern>/empcvdelete</url-pattern>
    <url-pattern>/empcvupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerInformControl</display-name>
    <servlet-name>EmployerInformControl</servlet-name>
    <servlet-class>com.home.controller.EmployerInformControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerInformControl</servlet-name>
    <url-pattern>/empinformload</url-pattern>
    <url-pattern>/empinformupdate</url-pattern>
    <url-pattern>/emppasswordchange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerJobListControl</display-name>
    <servlet-name>EmployerJobListControl</servlet-name>
    <servlet-class>com.home.controller.EmployerJobListControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerJobListControl</servlet-name>
    <url-pattern>/empjobload</url-pattern>
    <url-pattern>/empjobdelete</url-pattern>
    <url-pattern>/empjobupdate</url-pattern>
    <url-pattern>/empjobeditload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerLogoutControl</display-name>
    <servlet-name>EmployerLogoutControl</servlet-name>
    <servlet-class>com.home.controller.EmployerLogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerLogoutControl</servlet-name>
    <url-pattern>/emplogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailControl</display-name>
    <servlet-name>ViewDetailControl</servlet-name>
    <servlet-class>com.home.controller.ViewDetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailControl</servlet-name>
    <url-pattern>/viewdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailControl</display-name>
    <servlet-name>SendEmailControl</servlet-name>
    <servlet-class>com.home.controller.SendEmailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailControl</servlet-name>
    <url-pattern>/sendemailload</url-pattern>
    <url-pattern>/sendemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobCrudControl</display-name>
    <servlet-name>JobCrudControl</servlet-name>
    <servlet-class>com.home.controller.JobCrudControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobCrudControl</servlet-name>
    <url-pattern>/jobcrudload</url-pattern>
    <url-pattern>/jobcrudupdate</url-pattern>
    <url-pattern>/jobcruddelete</url-pattern>
    <url-pattern>/jobcrudview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpCrudControl</display-name>
    <servlet-name>EmpCrudControl</servlet-name>
    <servlet-class>com.home.controller.EmpCrudControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCrudControl</servlet-name>
    <url-pattern>/empcrudload</url-pattern>
    <url-pattern>/empcrudupdate</url-pattern>
    <url-pattern>/empcrudadd</url-pattern>
    <url-pattern>/empcruddelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInControl</display-name>
    <servlet-name>SignInControl</servlet-name>
    <servlet-class>com.home.controller.SignInControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInControl</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCrudControl</display-name>
    <servlet-name>AdminCrudControl</servlet-name>
    <servlet-class>com.home.controller.AdminCrudControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCrudControl</servlet-name>
    <url-pattern>/admincrudload</url-pattern>
    <url-pattern>/admincrudadd</url-pattern>
    <url-pattern>/admincrudupdate</url-pattern>
    <url-pattern>/admincruddelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutControl</display-name>
    <servlet-name>AdminLogoutControl</servlet-name>
    <servlet-class>com.home.controller.AdminLogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutControl</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailAdminControl</display-name>
    <servlet-name>ViewDetailAdminControl</servlet-name>
    <servlet-class>com.home.controller.ViewDetailAdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailAdminControl</servlet-name>
    <url-pattern>/viewdetailad</url-pattern>
  </servlet-mapping>
</web-app>